<!-- templates/about.html -->
{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
<div style="text-align: center; padding: 50px 0;">
    <h2>About MovieMagic</h2>
    <p>MovieMagic is your premier destination for booking movie tickets online. We strive to provide a seamless and enjoyable experience for all movie lovers.</p>
    <p>Our mission is to bring the magic of cinema closer to you, with easy access to showtimes, theaters, and a wide selection of movies.</p>
    <p>Enjoy your movie experience with us!</p>
</div>
{% endblock %}